/* Basic Style */
.general {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todos__wrapper {
  display: flex;
  /* margin-top: 20px; */
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todos__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todos__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.todos__btn:hover {
  color: #3a3A3a;
}

.todos__list {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.todos__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Heading */

.todos__flag {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todos__flag:focus {
  color: #333;
}

/* New Task */
.todos__title_add {
  display: block;
  margin: 0 0 20px;
}

.todos__btn:hover {
  color: #0FC57C;
}

/* Task list */


.todos__flag {
  margin: 0 10px;
}

.todos__lbl {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todos__input {
  width: 226px;
}

.del:hover {
  color: #CF2323;
}

.del__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.del__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#todos__completed-tasks .todos__lbl {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todos__input_hide {
  display: none;
}

.todos__edit-mode.todos__input {
  display: inline-block;
  width: 224px;
}

.todos__edit-mode .todos__lbl {
  display: none;
}